.header {
  height: 60px;
  line-height: 60px;
  display: flex;
  align-items: center;
  flex: 1;
}
.header .space {
  flex: 1;
}
.header .btn {
  width: 85px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-right: 10px;
}
