.middle {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.middle .draggable .draggable_item img {
  width: 375px;
}
.middle .swiper-container {
  width: 375px;
  height: 200px;
}
.middle .swiper-container .swiper-slide img {
  width: 100%;
}
.middle .chosen {
  border: 1px solid #00f;
}
